.search {    
    margin: 25px;
    
    display: flex;
    align-items: center;
    justify-content: center;
  

    &__container {
      width: 800px;
      align-items: center;
      flex-direction: row;
      margin-bottom: 30px;
    }

    &__card {
      min-height: 561px;
    }

    &__form {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }

    &__form-field-section {
      margin-right: 10px;
      flex-grow: 2;
    }

    &__form-field-radius {
      margin-right: 2px;
    }

    &__input-loading {
      position: absolute;
      bottom: -4px;
    }

    &__slider {
      margin-top: 20px;
    }

    &__button-container {
      display: flex;
      width:100%;
      flex-wrap: wrap;
    }

    &__find-button {
      flex-grow: 2;
      min-width: 85%;
    }
    
    &__location-button {
      flex-grow: 1;
    }

}